@*namespace CIplatformWeb.Views.Home
{
    public class reset_password
    {
    }
}*@

    <div class="container-fluid container-fluid_padding">
        <div class="row">
            <!---------- FIRST PART--------->

            <div class="col-lg-9 col-md-12 col-12">

                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Sed ut perspiciatis unde omnis iste natus voluptatem</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!---------- Second Part --------->
            <div class="col-lg-3 reg">

                <div class="container h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-10 col-md-8 col-lg-12">
                            <div class="b2">
                                New Password
                            </div>
                            <div class="b">
                                Please enter a new password in the fields below.
                            </div>
                            <!-- Form -->
                            <form class="container mt-10 px-2" action="" method="post">
                                <!-- Input fields -->

                                <div class="form-group my-2">
                                    <label for="password" class="title">New Password</label>
                                    <input type="password" class="form-control password my-2" id="password" placeholder="Password..." name="password">
                                </div>

                                <div class="form-group my-2">
                                    <label for="password" class="title">Confirm New Password</label>
                                    <input type="password" class="form-control password my-2" id="password" placeholder="Password..." name="password">
                                </div>

                                <div class="d-grid gap-2 my-3 ">
                                    <button class="btn btn button_style">Change Password</button>
                                </div>
                                <!-- End input fields -->
                                <div class="row">
                                    <a asp-action="Index" class="link-secondary my-2 text-center nounderline">Login</a>
                                </div>


                            </form>

                        </div>
                        <div class="col-lg-12 text-center">
                            <a href="#" class="link-secondary nounderline">Privacy Policy</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>