/* login */

.d-grid.gap-2.my-3>button {
    border: 2px solid #F88634;
    border-radius: 25px;
    color: #F88634;
}

.policy {
    padding-top: 300px;
    text-align: center !important;
}

.col-lg-12.text-center>p {
    font-size: 0.65rem;
    color: #414141;
}

.row {
    --bs-gutter-x: 0rem;
}

.container-fluid {
    padding-left: 0%;
}

.col-lg-9.col-md-12.col-12 {
    padding-left: calc(var(--bs-gutter-x) * .0);
    padding-right: calc(var(--bs-gutter-x) * .0);
}

.title {
    color: #414141 !important;
}

label {
    color: #414141 !important;
}

.nounderline {
    text-decoration: none !important;
}

.blue {
    color: #2B64B1;
}


/* forgot password, reset password & register*/

.b {
    text-align: center;
    color: #414141 !important;
    margin-bottom: 20px;
    font-size: small;
}

.b2 {
    text-align: center;
    color: #414141 !important;
    margin-bottom: 20px;
    margin-top: auto;
    font-size: 25px;
    font-weight: 550;
}

.reg {
    padding: 10px 10px 0px 10px;
}